<div class="mod-quickmode panel panel-default well">

	<div class="qk-steps">
	</div>

	<div class="qk-main">
		<div class="qk-wallpaper">

			<div class="handles" ng-show="!editting && showUploadPanel">
				<label for="upImage" class="file-upload" ng-show="!hasError">
					<i class="icon-up-1"></i>
					<b></b>
					<input type="file" name="upImage"
						accept=".jpg,.jpeg"
						image="image"
						ng-model="x"
						ng-disabled="isLoading"
						ng-change="uploadFile($event, image.file, x)" />
				</label>
				<i class="icon-crop" ng-click="crop()"></i>
				<i class="icon-remove" ng-click="reset()"></i>
			</div>

			<ul>
				<li>
					<div class="qk-uploadIcon"
						ng-hide="showUploadPanel"
						ng-click="showUploadPanel=true">
						<i class="icon-plus">Upload</i>
					</div>
					<div class="qk-uploadPanel" ng-show="showUploadPanel">
						<div class="loading" ng-if="isLoading">
							<i class="icon-spin4 animate-spin"></i>
						</div>
						<div class="preview-image" ng-click="openFile()" ng-show="!editting">
							<img ng-src="{{UPLOAD_PATH}}{{packData['wallpaper']['wallpaper'].src}}?{{etag}}" type="{{image.file.type}}">
						</div>
					</div>
				</li>
				<li ng-repeat="wallpaper in wallpaperList"
					ng-click="setWallpaper(wallpaper)"
					ng-class="{ 'small-size': [4, 5].indexOf($index) === -1 }">

					<img ng-src="{{wallpaper.smallPath}}" alt="{{wallpaper.title}}" />
				</li>
			</ul>
			<div class="qk-paging">
				<i class="icon-left-open-big left"
					ng-class="{ active: wallpaper_hasPrev() }"
					ng-click="wallpaper_prevPage()"></i>
				<i class="icon-right-open-big right"
					ng-class="{ active: wallpaper_hasNext() }"
					ng-click="wallpaper_nextPage()"></i>
			</div>
		</div>
		<div class="qk-icons">
			<ul>
				<li ng-repeat="iconSet in iconSetList" ng-click="setIconSet(iconSet)">
					<img src="/styles/img/iconset-bg.jpg" ng-src="{{iconSet.preview}}" alt="{{iconSet.name}}" />
				</li>
			</ul>
			<div class="qk-paging">
				<i class="icon-left-open-big left"
					ng-class="{ active: iconSet_hasPrev() }"
					ng-click="iconSet_prevPage()"></i>
				<i class="icon-right-open-big right"
					ng-class="{ active: iconSet_hasNext() }"
					ng-click="iconSet_nextPage()"></i>
			</div>
		</div>
		<div class="qk-actions text-center">
			<a href="#" class="btn btn-clGreen" ng-click="packageTheme()">Package</a>
		</div>
	</div>

</div>
