
.ac-mask {

	padding: 15px 0 0;
	background-color: #E7E7E7;
	border-color: #BBBBBB;
	position: relative;
	height: 529px;

	.ac-opIcons-list {
		margin: 0 15px;
		height: auto;
	}


	.mod-material {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		background-color: #F6F8F8;

		img {
			width: 100%;
			max-width: 438px;
		}
	}
}
