
@import "mod-menuList.less";
@import "mod-previewer.less";
@import "mod-lathe.less";
@import "mod-uploader.less";

.mod-menuList {
	float: left;
	margin: 20px 40px 0 0;
	width: 150px;
}

.mod-previewer {
	float: left;
	margin: 20px 40px;
}

.mod-lathe {
	float: right;
	margin: 20px 0;
	width: 450px;
	height: 550px;
	overflow: hidden;
	overflow-y: scroll;
}

.pg-title {
	margin: 20px 0;

	border-bottom: 1px solid #CFCECE;
	h1 {
		font-size: 18px;
		color: #020202;
		line-height: 20px;
		border-left: 3px solid #1A9882;
		margin: 5px 0;
		font-weight: normal;
		text-indent: 0.3em;
	}
}