
@import "mod-menuList.less";
@import "mod-previewer.less";
@import "mod-lathe.less";
@import "mod-uploader.less";

.mod-menuList {
	float: left;
	margin: 20px 40px 0 0;
	width: 150px;
}

.mod-previewer {
	float: left;
	margin: 20px 40px;
}

.mod-lathe {
	float: right;
	margin: 20px 0;
	width: 450px;
	height: 550px;
	overflow: hidden;
	overflow-y: scroll;
}

