@dftSrc: "/resources/phone/default";
.mod-previewer {
	position: relative;

	padding: 8px;

	border: 1px solid #E9E9E9;
	border-radius: 3px;
	background-color: white;

	.sence-home {
		position: relative;
		width: 239px;
		height: 428px;

		&>div {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.mp-decoration {
			width: 100%;
			height: 100%;
			background: url("@{dftSrc}/lay.png") no-repeat;
			z-index: 90;
		}

		.mp-wallpaper {
			width: 100%;
			height: 100%;
			background-color: #aaa;
			z-index: 0;
		}

		.mp-dock {
			position: absolute;
			bottom: 0;
			top: auto;
			height: 60px;
			line-height: 60px;
		}

		.mp-dock-icon {
			width: 37px;
			height: 37px;
			margin-left: 6px;
		}
	}

}

