
.mod-resLibrary {
	position: relative;
	border: 1px solid #E9E9E9;
	border-radius: 3px;
	background-color: #F1F1F1;
	padding: 0 0 10px;

	float: left;
	width: 630px;

	header {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #E1E1E1;

		text-indent: 1em;
		line-height: 2.5em;
		margin: 0 0 10px;
	}

	.mod-resList {
		margin: 0 20px;

		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;

		a.rl-item {
			display: inline-block;
			padding: 5px;
			border: 1px solid transparent;
			margin: 0 7px 0 0;
			text-decoration: none;
			transition: all 0.5s;
			cursor: pointer;

			&:hover, &.active {
				border-color: #C6B98F;
				background-color: #FFF4CF;
			}
			img {
				width: 64px;
				height: 64px;
			}
		}
	}

	.carousel-indicators {
		display: none;
	}
	.carousel-control {
		border: none;
		background: none;
		color: #787878;
		width: 20px;
		cursor: pointer;

		span {
			font-size: 48px;
			margin-top: -40px;
			right: 0;
		}
	}
}