
.mod-lathe {
	position: relative;
	border: 1px solid #E9E9E9;
	border-radius: 3px;
	background-color: white;
	padding: 0 0 10px;

	header {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 32px;

		line-height: 32px;
		margin: 0 0 10px;
		text-indent: 1em;

		background-color: #EDECEC;

		.fa {
			padding: 3px 10px 3px 0;
			background-color: #BCD0D8;
			text-align: center;

			text-decoration: none;
			cursor: pointer;
			&:hover, &:focus {
				color: white;
			}
			&:active {
				background-color: #179BA0;
			}
		}
	}

	.all-list {
		padding: 0 10px;
		figure {
			position: relative;
			display: inline-block;
			margin: 0 3px;
			overflow: hidden;
			text-align: center;
			width: 65px;
			vertical-align: top;
			height: 100px;
			cursor: pointer;

			&:hover img, &.active img {
				background-color: #FFF5CF;
				border-color: #DACFAC;
			}
		}
		figure img {
			width: 60px;
			height: 60px;
			padding: 3px;
			border: 1px solid transparent;
			transition: all .5s
		}
	}
}

