
.mod-menuList {
	border-radius: 6px;
	overflow: hidden;
	header, li {
		line-height: 32px;
	}
	ul {
		margin: 0;
		padding: 0;
	}

	header {
		background-color: #078FA8;
		color: white;
		padding: 0 6px;
	}


	li {
		border: 1px solid #D2D2D2;
		list-style: none;
		a {
			width: 100%;
			display: inline-block;
			color: #818181;
			text-decoration: none;
			text-indent: 1em;
		}
		a:hover {
			color: #01819A;
			background-color: #B9DDD7;
		}
	}
}
