
.mod-resLibrary {
	position: relative;
	border: 1px solid #E9E9E9;
	border-radius: 3px;
	background-color: white;
	padding: 0 20px 10px;

	float: left;
	width: 630px;


	header {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;

		line-height: 2em;
		margin: 5px 0 10px;
	}

	.mod-resList {
		margin: 0 5px;
		a.rl-item {
			display: inline-block;
			padding: 5px;
			border: 1px solid #eee;
			margin: 0 7px 0 0;
			text-decoration: none;
			transition: all 0.5s;

			&:hover {
				border: 1px solid #aaa;
			}
			img {
				width: 64px;
				height: 64px;
			}
		}
	}

	.carousel-indicators {
		display: none;
	}
	.carousel-control {
		border: none;
		background: none;
		color: #787878;
		width: 20px;
		cursor: pointer;

		span {
			font-size: 48px;
			margin-top: -40px;
			right: 0;
		}
	}
}