node_modules
.tmp
.sass-cache
logs/*
app/components
heroku
public
deploy
app/resources/upload/*
!app/resources/upload/default_theme
app/resources/themes
app/resources/preview
app/resources/thumbnail
app/logs
