<div class="col-md-2" drop="changeLayout" drag ng-model="pan">
	<div ng-include="'/views/partials/menuList.html'"
		class="well" ng-controller="menuListController"></div>
</div>
<div class="col-md-6" drop="changeLayout" drag ng-model="pan">
	<div ng-include="'/views/waterDrop/operationPanel.html'"
		class="panel panel-default well" ng-controller="operationController"></div>
</div>
<div class="col-md-4" drop="changeLayout" drag ng-model="pan" >
	<div ng-include="'/views/waterDrop/emulatorPanel.html'"
		class="panel panel-default well" ng-switch on="curSence" ng-controller="previewCtrl"></div>
</div>
