
<div class="row">
	<div class="sub_header col-md-12">
		<span>上传动态壁纸</span>
	</div>
</div>

<div class="row" ng-controller="uploadCtrl" >
	<div class="form_content col-md-8 col-md-offset-2">
		<form class="form-horizontal" ng-submit="submit($event)" role="form" ng-controller="dWallpaperFormCtrl">
			<div class="form-group">
				<label for="upFile" class="col-sm-2 control-label">上传APK：</label>
				<div class="col-sm-9">
					<label for="upFile" class="file-upload btn btn-primary pull-left">
						<span><strong>Chose APK file</strong></span>
						<input name="upFile" type="file" ng-file-select="dWallpaper.apkFile = $files[0]; dWallpaper.title=grepName($files[0].name)" accept=".apk" required />
					</label>
					<small class="help-block col-sm-5 pull-left">必填项</small>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">壁纸名称：</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="dWallpaper.title" placeholder="" required />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">设计师：</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="dWallpaper.author" placeholder="" required value="launcher" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Category: </label>
				<div class="col-sm-2">
					<select class="form-control" ng-model="dWallpaper.category_raw">
						<option value="{{category._id}}|{{category.name}}" ng-repeat="category in categoryList" ng-if="category" ng-selected="$index==0" ng-cloak>{{category.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="upFile" class="col-sm-2 control-label">缩略图：</label>
				<div class="col-sm-9">
					<label for="upFile" class="file-upload btn btn-primary pull-left">
						<span><strong>Upload</strong></span>
						<input name="upFile" type="file" ng-file-select="dWallpaper.thumbnailFile = $files[0]" accept=".jpg,.png,.jpeg" required>
					</label>
					<small class="help-block col-sm-5 pull-left">必填项</small>
				</div>
			</div>
			<div class="form-group">
				<label for="upFile" class="col-sm-2 control-label">预览图：</label>
				<div class="col-sm-9">
					<label for="upFile" class="file-upload btn btn-primary pull-left">
						<span><strong>Upload</strong></span>
						<input name="upFile" type="file" ng-file-select="dWallpaper.previewFiles = $files" accept=".jpg,.png,.jpeg" required multiple>
					</label>
					<small class="help-block col-sm-5 pull-left">
						必填项
						<span ng-if="dWallpaper.previewFiles.length>0" ng-cloak>选择了{{dWallpaper.previewFiles.length}}个文件。</span>
					</small>
				</div>
			</div>

			<div class="form-group">
				<label for="upFile" class="col-sm-2 control-label">简介：</label>
				<div class="col-sm-9">
					<textarea ng-model="dWallpaper.description" class="form-control" required ></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" ng-if="!uploadSuccess" ng-hide="uploading">提交审核</button>

					<a href="javascript:;" class="btn btn-primary" ng-if="uploading">上传中...</a>
					<a href="javascript:location.reload();" class="btn btn-primary" ng-if="uploadSuccess">再传一张</a>
					<button type="button" class="btn btn-primary">取消</button>
				</div>
			</div>
		</form>
	</div>
</div>