
<div class="row">
	<div class="sub_header col-md-12">
		<span>上传壁纸</span>
	</div>
</div>

<div class="row">
	<div class="form_content col-md-8 col-md-offset-2">
		<form class="form-horizontal" role="form" ng-controller="uploadCtrl">
			<div class="form-group">
				<label for="upImage" class="col-sm-2 control-label">上传壁纸：</label>
				<div class="col-sm-9">
					<label for="upImage" class="file-upload btn btn-primary pull-left">
						<span><strong>Chose file</strong></span>
						<input name="upImage" type="file" ng-file-select="onFileSelect($files)" accept=".jpg,.png,.jpeg" required />
					</label>
					<small class="help-block col-sm-8 pull-left">不能小于1024x768</small>
					<br>
					<img ng-src="{{Wallpaper.dataUrl}}" width="450" height="400">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">壁纸名称：</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="Wallpaper.title" placeholder="程序自动获取，可修改" required maxlength="100" />
				</div>
			</div>

			<div class="form-group" ng-if="progress > 0">
				<label for="" class="col-sm-2 control-label" ng-if="!uploadSuccess">正在上传：</label>
				<label for="" class="col-sm-2 control-label" ng-if="uploadSuccess">上传成功：</label>
				<div class="col-sm-9 row">

					<div class="col-sm-9">
						<progressbar max="100" value="progress">
							<b style="float: left;">&nbsp; {{Wallpaper.title}}</b>
							{{progress}}%
						</progressbar>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-primary" ng-click="cancelUpload()" ng-if="!uploadSuccess"> Cancel </button>
						<button class="btn btn-danger" ng-if="uploadError" disabled> Fail </button>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" ng-click="startUpload($event, 'wallpaper')" ng-hide="uploadSuccess">提交审核</button>

					<a href="javascript:location.reload();" class="btn btn-primary" ng-if="uploadSuccess">再传一张</a>
					<button type="button" class="btn btn-primary">取消</button>
				</div>
			</div>
		</form>
	</div>
</div>