<div class="mod-lathe">
	<header> Wallpaper </header>
	<section>
		<upload-img
			theme-id="{{themeId}}"
			res-type="{{selected.resType}}"
			res-name="{{selected.resName}}"
			default-data="themeData"
			src-prefix="{{srcPrefix}}"

			scale="getPreviewScale"
			res-capital="{{selectedModel.capital}}"
			rec-standard="getStandard"
			is-editing="true"

			callback="updatePreview" ng-if="selectedModel"></upload-img>
		<upload-img
			theme-id="{{themeId}}"
			res-type="{{selectedModel.link[0]}}"
			res-name="{{selectedModel.link[1]}}"
			default-data="themeData"
			src-prefix="{{srcPrefix}}"

			scale="getPreviewScale"
			res-capital="{{selectedLinkedModel.capital}}"
			rec-standard="getStandard"
			is-editing="false"

			callback="updatePreview" ng-if="selectedLinkedModel"></upload-img>
	</section>

	<header> Other </header>
	<section class="all-list">
		<figure ng-repeat="item in groupList[all_list]" ng-init="it=wrapData(item)" ng-class="{ active:(item.resType == selected.resType && item.resName == selected.resName )}">
			<img ng-src="{{srcPrefix}}/{{it.src}}" ng-click="select(item.resType, item.resName)">
			<figcaption>{{ it.capital }}</figcaption>
		</figure>

	</section>
</div>
