
<div class="mod-menuList">
	<section class="menu-item" ng-class="{ active: menu.active }" ng-repeat="menu in menuList">
		<header>
			<a href="javascript:;" ng-click="menu.active=!menu.active">
				<i class="{{menu.icon}}"></i>
				{{menu.title}}
				<i class="icon-down-open-big pull-right" ng-if="menu.active"></i>
				<i class="icon-right-open-big pull-right" ng-if="!menu.active"></i>

			</a>
		</header>
		<ul ng-show="menu.active">
			<li ng-repeat="item in menu.submenus">
				<a	ng-href="{{item.url}}"
					ng-class="{ active: item.active }"
					ng-click="refreshStats(menu, item)">
					{{item.title}} {{item.sence}}
				</a>
			</li>
		</ul>
	</section>

</div>

