
<div class="mod-menuList">
	<section class="menu-item" ng-class="{ active: $index==0 }" ng-repeat="menu in menuList">
		<header>
			<a href="javascript:;" ng-click="switchMenu(menu)">
				<i class="{{menu.icon}}"></i>
				{{menu.title}}
				<i class="icon-down-open-big pull-right"></i>
			</a>
		</header>
		<ul ng-show="menu.active || hasActive(menu.submenus)">
			<li ng-repeat="item in menu.submenus">
				<a	ng-href="{{item.url}}"
					ng-class="{ active: (curPath==item.url) }"
					ng-click="item.active=true;"
					ng-init="spk(item)">
					{{item.title}} {{item.sence}}
				</a>
			</li>
		</ul>
	</section>

</div>

