<!-- Theme Previewer Here
<div class="phone" ng-controller="previewCtrl">
	<div class="scence main-screen" ng-style="setBg('/resources/upload'+theme.wallpaper.wallpaper)">
		<div class="app-list"></div>
	</div>
	<div class="wallpaper"></div>
</div>

 -->

<div class="mod-previewer" ng-switch on="curSence">

	<div class="sence sence-home" ng-switch-when="home">
		<!-- <div ng-style="setBg(theme['wallpaper']['wallpaper'])"></div> -->

		<img class="mp-wallpaper" ng-src="{{_V(theme['wallpaper']['wallpaper'])}}" />
		<div class="mp-decoration"></div>
		<div class="mp-dock">
			<img class="mp-dock-icon"
				ng-src="{{_V(theme['app_icon']['Phone'])}}"
				ng-click="select('app_icon', 'Phone')"
				ng-class="{ active: isSelect('app_icon', 'Phone') }">

			<img class="mp-dock-icon"
				ng-src="{{_V(theme['app_icon']['Contacts'])}}"
				ng-click="select('app_icon', 'Contacts')"
				ng-class="{ active: isSelect('app_icon', 'Contacts') }">

			<div class="mp-dock-allapps"
				ng-mouseover="icon_status='pressed'"
				ng-mouseleave="icon_status='unpressed'"
				ng-switch="icon_status"
				ng-init="icon_status='unpressed'"
				ng-click="select('dock_icon', 'ic_allapps')"
				ng-class="{ active: isSelect('dock_icon', 'ic_allapps') }">
				<img class="mp-dock-icon" ng-src="{{_V(theme['dock_icon']['ic_allapps'])}}" ng-switch-when="unpressed" title="Normal status">
				<img class="mp-dock-icon" ng-src="{{_V(theme['dock_icon']['ic_allapps_pressed'])}}" ng-switch-when="pressed" title="Pressed status">
			</div>

			<img class="mp-dock-icon"
				ng-src="{{_V(theme['app_icon']['Messages'])}}"
				ng-click="select('app_icon', 'Messages')"
				ng-class="{ active: isSelect('app_icon', 'Messages') }">

			<img class="mp-dock-icon"
				ng-src="{{_V(theme['app_icon']['Browser'])}}"
				ng-click="select('app_icon', 'Browser')"
				ng-class="{ active: isSelect('app_icon', 'Browser') }">
		</div>
	</div>

	<div class="sence sence-apps" ng-switch-when="apps">
		<img class="mp-wallpaper" ng-src="{{_V(theme['wallpaper']['wallpaper'])}}" />
		<div class="mp-statusbar"></div>
		<div class="mp-apps-bg"></div>
		<div class="mp-apps-app">

			<div class="mp-apps-icon" ng-repeat="(appId, app) in theme.app_icon" ng-click="select('app_icon', appId)">
				<img ng-src="{{_V(app)}}">
				<p>{{app.captial}}</p>
			</div>
			<div class="mp-apps-icon" ng-click="select('customize_mat', 'default_customize_mat')">
				<img ng-src="{{_V(theme['customize_mat']['default_customize_mat'])}}">
				<p>icon bg</p>
			</div>
			<div class="mp-apps-icon" ng-style="_IconBg()" ng-click="select('customize_mat', 'default_customize_mask')">
				<img ng-src="{{_V(theme['customize_mat']['default_customize_icon'])}}" ng-style="_Mask()">
				<p>Sample</p>
			</div>

		</div>
	</div>
</div>

