<div class="mod-uploader">

	<div class="img-previewer">
		<img ng-src="{{image.url}}" type="{{image.file.type}}" />
	</div>

	<div class="img-info">
		<b>{{resCaptial}}</b>
		<span>Size: {{recWidth}}*{{recHeight}}</span>
		<span>Type: {{recType}}</span>
	</div>

	<div class="img-upload-handler">
		<button class="file-upload btn btn-primary">
			<span><strong>Browser</strong></span>
			<input type="file" accept="image/*" image="image">
		</button>
		<button class="btn btn-lightgreen" ng-click="upload(image.file)">Apply</button>
		<!-- <button class="btn btn-reset" ng-show="image">Reset</button> -->
	</div>

</div>
