<div class="mod-uploader">

	<div class="img-previewer">
		<img ng-src="{{image.url}}" type="{{image.file.type}}" drop="dropImg" enter="dropIn" leave="dropOut"/>
		<div class="loading" ng-show="loading" ng-init="loading=false">
			<i class="fa fa-spinner fa-spin fa-3x"></i>
		</div>
	</div>

	<div class="img-info">
		<b>{{resCapital}}</b>
		<span>Size: {{recWidth}}*{{recHeight}}</span>
		<span>Type: {{recType}}</span>
	</div>

	<div class="img-upload-handler">
		<label for="upImage" class="file-upload btn btn-primary">
			<span><strong>Change</strong></span>
			<input name="upImage" type="file" accept="image/jpeg,image/jpg,image/png" image="image">
		</label>
		<button class="btn btn-lightgreen" ng-click="upload(image.file)" ng-disabled="loading">Apply</button>
		<!-- <button class="btn btn-reset" ng-show="image">Reset</button> -->
	</div>

</div>
