<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Theme Creator for cLauncher</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="components/ngprogress/ngProgress.css">
	<link rel="stylesheet" href="components/normalize-css/normalize.css">
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/app.css">
	<!-- endbuild -->
</head>
<body ng-app="anthCraftApp">
	<!--[if lt IE 9]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="components/es5-shim/es5-shim.js"></script>
	<script src="components/json3/lib/json3.min.js"></script>
	<![endif]-->

	<div class="hd">
		<div class="bd" ng-controller="indexCtrl">
			<a href="#">
				<img src="styles/img/logo.png" alt="cLauncher Logo">
			</a>
			<section class="sec-login" ng-if="!username">
				<a href="http://themes.c-launcher.com/jump/login.htm">Regist</a>
				|
				<a href="http://themes.c-launcher.com/jump/register.htm">Login</a>
			</section>
			<section class="sec-login" ng-if="username">
				Welcome, {{username}} ! &nbsp;
				<a href="http://themes.c-launcher.com">Back</a>
			</section>

			<section class="sec-controlButton">
				<a href="javascript:;" ng-click="createTheme()" class="icon-new">
					<!-- <i class="fa fa-plus-circle fa-3x"></i> -->
					New
				</a>
				<a ng-href="#/packForm" class="icon-pack" ng-show="hasUnpub()">
					<!-- <i class="fa fa-upload fa-3x"></i> -->
					Pack
				</a>
			</section>

		</div>
	</div>

	<div class="container clearfix">
		<div ng-view></div>
	</div>


<!-- 	<div class="ft">
		<ul class="link-list">
			<div class="bd">
				<li>
					<a href="#">Link</a> |
				</li>
				<li>
					<a href="#">Link</a> |
				</li>
			</div>
		</ul>
		<div class="site-info">
			<div class="bd">
				<img src="styles/img/cylogo.png" alt="CYou Inc." />
				<p>北京畅游时代数码技术有限公司 版权所有&nbsp;</p>
				<p>Copyright ©2011 ChangYou.com Limited. All rights reserved.</p>
				<p>京ICP证：070525号《网络文化经营许可证》编号：京网文[2011]0260-093号京公网安备110107000007</p>
			</div>
		</div>
	</div>
 -->
	<script src="components/angular/angular.min.js"></script>

	<!-- build:js scripts/modules.js -->

	<script src="components/ngprogress/build/ngProgress.min.js"></script>
	<script src="components/angular-route/angular-route.min.js"></script>
	<script src="components/angular-resource/angular-resource.js"></script>
	<script src="components/angular-local-storage/angular-local-storage.min.js"></script>
	<script src="components/angular-cookies/angular-cookies.js"></script>
	<script src="components/angular-sanitize/angular-sanitize.js"></script>
	<script src="components/angular-imageupload-directive/public/javascripts/imageupload.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/latheCtrl.js"></script>
	<script src="scripts/controllers/packCtrl.js"></script>
	<script src="scripts/controllers/previewCtrl.js"></script>
	<script src="scripts/controllers/overlayCtrl.js"></script>
	<script src="scripts/services/menuConfig.js"></script>
	<script src="scripts/controllers/menuListCtrl.js"></script>
	<script src="scripts/services/themeConfig.js"></script>
	<script src="scripts/services/themeService.js"></script>
	<script src="scripts/services/uploadService.js"></script>
	<!-- endbuild -->

	<div class="overlay" ng-controller="overlayCtrl" ng-init="showing=false" ng-show="showing">
		<div class="dialog dlg-confirm">
			<p>{{options.text}}</p>
			<div class="button-group">
				<a class="btn btn-primary" ng-click="close('yes')" ng-if="options.yes">{{options.yes}}</a>
				<a class="btn btn-warning" ng-click="close('no')" ng-if="options.no">{{options.no}}</a>
			</div>
		</div>
	</div>

</body>
</html>
