<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en_US"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Theme Builder for cLauncher</title>
	<meta name="description" content="">
	<meta name="version" content="v1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- build:css(.tmp) /styles/main.css -->
	<link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">

	<link rel="stylesheet" href="/styles/waterDrop/main.css">
	<!-- endbuild -->
	<link rel="stylesheet" href="/styles/webicons/css/webicons.css">
	<link rel="stylesheet" href="/styles/webicons/css/animation.css">
</head>
<body ng-app="anthCraftApp">
	<!--[if lt IE 9]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/components/es5-shim/es5-shim.js"></script>
	<script src="/components/json3/lib/json3.min.js"></script>
	<![endif]-->

	<nav id="page-header"
		class="navbar navbar-default navbar-static-top"
		role="navigation"
		ng-controller="navController">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand" title="{{'TITLE' | translate }}">
					<img src="/styles/img/logo-clauncher.png" />
				</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="circled">
					<a href="#" ng-click="createNew()">
						<i class="icon-doc-new"></i>
						{{'HEADER.NEW' | translate }}
					</a>
				</li>
				<li class="circled">
					<a href="#" ng-click="previewTheme()">
						<i class="icon-search"></i>
						{{'HEADER.PREVIEW' | translate }}
					</a>
				</li>
				<li class="circled">
					<a href="#" ng-click="packageTheme()">
						<i class="icon-folder"></i>
						{{'HEADER.PACKAGE' | translate }}
					</a>
				</li>
				<li class="circled">
					<a href="#" ng-click="openHelpBox()">
						<i class="icon-help"></i>
						{{'HEADER.HELP' | translate }}
					</a>
				</li>
				<li class="splitter"></li>
				<li>
					<a href="#" ng-click="openLoginBox()">
						<i class="icon-user"></i>
						{{'ACCOUNT.LOGIN' | translate }}
					</a>
				</li>
				<li>
					<a href="http://themes.c-launcher.com/jump/register.do">
						<i class="icon-edit"></i>
						{{'ACCOUNT.REGIST' | translate }}
					</a>
				</li>
				<!--
				<li>
					<button type="button" class="btn btn-default navbar-btn">{{'ACCOUNT.LOGIN' | translate }}</button>
					<button type="button" class="btn btn-default navbar-btn">{{'ACCOUNT.REGIST' | translate }}</button>
				</li>
				-->
			</ul>
		</div>
	</nav>

	<div class="container" ng-controller="viewController">

		<div class="col-md-2" drop="changeLayout" drag ng-model="pan">
			<div ng-include="'/views/partials/menuList.html'"
				ng-controller="menuListCtrl"></div>
		</div>
		<div class="col-md-6" ng-view drop="changeLayout" drag ng-model="pan">
			<span>Loading views...</span>
		</div>
		<div class="col-md-4" drop="changeLayout" drag ng-model="pan" >
			<div ng-include="'/views/partials/previewer.html'"
				class="preview-wrap panel panel-default well"
				ng-controller="previewCtrl"></div>
		</div>

	</div>




	<script src="/components/angular/angular.min.js"></script>

	<!-- build:js /scripts/waterDrop-components.js -->
	<script src="/components/angular-translate/angular-translate.js"></script>
	<script src="/components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="/components/angular-route/angular-route.min.js"></script>
	<script src="/components/angular-resource/angular-resource.js"></script>
	<script src="/components/angular-local-storage/angular-local-storage.min.js"></script>
	<script src="/components/angular-cookies/angular-cookies.js"></script>
	<script src="/components/angular-sanitize/angular-sanitize.js"></script>
	<script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/components/angular-touch/angular-touch.js"></script>
	<script src="/components/angular-dragndrop/angular-dnd.js"></script>
	<script src="/scripts/modules/carousel/angular-carousel.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) /scripts/waterDrop-scripts.js -->
	<script src="/scripts/waterDrop-init.js"></script>
	<script src="/scripts/waterDrop/viewController.js"></script>
	<script src="/scripts/waterDrop/systemIconListController.js"></script>
	<script src="/scripts/waterDrop/backgroundListController.js"></script>
	<script src="/scripts/waterDrop/resEditorController.js"></script>

	<script src="/scripts/waterDrop/navController.js"></script>
	<script src="/scripts/waterDrop/modals/helpModalController.js"></script>
	<script src="/scripts/waterDrop/modals/simpleModalController.js"></script>
	<script src="/scripts/waterDrop/modals/packageFormController.js"></script>
	<script src="/scripts/waterDrop/modals/packageResultModalController.js"></script>

	<script src="/scripts/services/menuConfig.js"></script>
	<script src="/scripts/modules/imageupload/imageupload.js"></script>
	<script src="/scripts/services/themeConfig.js"></script>
	<script src="/scripts/services/themeService.js"></script>
	<script src="/scripts/controllers/previewCtrl.js"></script>
	<script src="/scripts/controllers/menuListCtrl.js"></script>
	<!-- endbuild -->
<!--
	<div style="display: none;">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5795081'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/stat.php%3Fid%3D5795081' type='text/javascript'%3E%3C/script%3E"));</script>
	</div>
-->

</body>
</html>
