<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Theme Builder for cLauncher</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css(.tmp) styles/upload_page/upload_main.css -->
	<link rel="stylesheet" href="styles/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="styles/uploadPage/main.css">
	<link rel="stylesheet" href="styles/uploadPage/index.css">
	<link rel="stylesheet" href="styles/uploadPage/tail.css">
	<!-- endbuild -->
</head>
<body ng-app="uploadApp">
	<!--[if lt IE 9]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="components/es5-shim/es5-shim.js"></script>
	<script src="components/json3/lib/json3.min.js"></script>
	<![endif]-->
	<div class="hd">
		<div class="head">
			<div class="top" ng-controller="indexCtrl" ng-cloak>
				<a class="logo" alt="CLauncher logo" title="Clauncher" href="http://www.c-launcher.com">CLauncher
					<span>
						www.c-launcher.com
					</span>
				</a>
				<section class="sec-login" ng-if="!isLogined()" ng-style="{ display: 'block' }">
					<a href="http://www.c-launcher.com/jump/register.do">Register</a>
					<span>|</span>
					<a href="http://www.c-launcher.com/jump/login.do">Login</a>
				</section>
				<section class="sec-login" ng-if="isLogined()" ng-style="{ display: 'block' }">

					Welcome:
					<a href="javascript:void(0)" class="username" ng-click="user_menu_show=!!!user_menu_show" ng-blur="user_menu_show=false"> {{getUser().name}} </a>
					<ul class="menu" ng-show="user_menu_show" ng-cloak>
						<li><a href="http://www.c-launcher.com/jump/person_settings.do"> Personal settings </a></li>
						<li><a href="http://designer.c-launcher.com/"> Design Theme </a></li>
						<li><a href="javascript:;" ng-click="logout()">Logout</a>
						</li>
					</ul>
				</section>
				<div class="nav-outter">
					<form id="queryForm" action="">
						<input type='hidden' id='category' name='category' value=''/>
						<input type='hidden' id='tag' name='tag' value=''/>
						<input type='hidden' id='sortTag' name='sortTag' value=''/>
					</form>
					<ul class="nav">
						<li><a href="http://www.c-launcher.com/" id="home"> Home </a>
						</li>
						<li><a href="http://www.c-launcher.com/theme/list.do" id="theme" typeId="0"> Themes </a>
						</li>
						<li><a href="http://www.c-launcher.com/wallpaper/list.do" id="wallpaper" typeId="1"> Wallpapers </a>
						</li>
						<!-- <li><a href="http://www.c-launcher.com/dynamicwallpaper/list.do" id="dynamicwallpaper" typeId="3"> Live Wallpaper </a>
						</li>
						<li><a href="http://www.c-launcher.com/ring/show.do" id="ring" typeId="2"> Ring </a>
						</li> -->
						<li> <a href="http://designer.c-launcher.com/" class="cyou-head-nav"> Design Themes </a>
						</li>
						<li><a href="http://bbs.c-launcher.com/"> BBS </a>
						</li>
						<li class="search">
							<form id="searchForm" action="http://www.c-launcher.com/theme/search.do" method="post">
								<div class="searchBox">
									<input id="keyword" name="keyword" value="" type="text" placeholder="Enter search term" maxlength="20"/>
									<button type="button" id="cyou-searchbtn">&nbsp;&nbsp;</button>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<div class="container clearfix">
		<div ng-view></div>
	</div>

	<div id="cyou-tail">
		<div id="cyou-tail-copyright-outter">
			<div id="cyou-tail-copyright-inner">
				<div class="main">
					<ul>
						<li>
							<a href="https://www.facebook.com/clauncher?ref=hl">
								<img width="106px" height="40px" src="http://s.c-launcher.com/static/themes//images/designer/facebook.jpg">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img width="106px" height="40px" src="http://s.c-launcher.com/static/themes//images/designer/twitter_gray.jpg">
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<img width="106px" height="40px" src="http://s.c-launcher.com/static/themes//images/designer/go+_gray.jpg">
							</a>
						</li>
					</ul>
				</div>
				<div class="side">
					<ul>
						<li>
							<a href="http://www.c-launcher.com/main/index.html">
								APPS
							</a>
						</li>
						<li>
							<a href="http://www.c-launcher.com/jump/about_us.do">
								About Us
							</a>
						</li>
						<li>
							<a href="http://www.c-launcher.com/jump/contact_us.do">
								Contact
							</a>
						</li>
						<li>
							<a href="http://www.c-launcher.com/jump/support.do">
								Support
							</a>
						</li>
						<li>
							<a href="http://www.c-launcher.com/jump/terms.do">
								Terms and Policy
							</a>
						</li>
						<li>
							<a href="http://www.c-launcher.com/jump/uninstallGuide.do">
								Uninstall Guide
							</a>
						</li>
					</ul>
					<p>©&nbsp;2014 C-Launcher. All Rights Reserved
						<span style="display:none">
						<script src="http://s23.cnzz.com/stat.php?id=5826178&amp;web_id=5826178&amp;t=z" language="JavaScript"></script><script src="http://c.cnzz.com/core.php?web_id=5826178&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=5826178" target="_blank" title="站长统计">站长统计</a>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="feedback" ng-click="openFeedbackBox()">
		<i class="icon-edit-1"></i>
	</div>

	<script src="components/ng-file-upload/angular-file-upload-shim.min.js"></script>
	<script src="components/angular/angular.min.js"></script>

	<!-- build:js scripts/upload_components.js -->
	<script src="components/angular-route/angular-route.min.js"></script>
	<script src="components/angular-resource/angular-resource.js"></script>
	<script src="components/angular-cookies/angular-cookies.js"></script>
	<script src="components/angular-local-storage/angular-local-storage.min.js"></script>
	<script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="components/ng-file-upload/angular-file-upload.min.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/upload_scripts.js -->
	<script src="scripts/uploadPage/main.js"></script>
	<script src="scripts/uploadPage/uploadCtrl.js"></script>
	<script src="scripts/uploadPage/dWallpaperFormCtrl.js"></script>
	<script src="scripts/uploadPage/ringFormCtrl.js"></script>
	<!-- endbuild -->

</body>
</html>
