<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Theme Builder for cLauncher</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css(.tmp) styles/upload_main.css -->
	<link rel="stylesheet" href="styles/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/uploadPage/index.css">
	<!-- endbuild -->
</head>
<body ng-app="uploadApp">
	<!--[if lt IE 9]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="components/es5-shim/es5-shim.js"></script>
	<script src="components/json3/lib/json3.min.js"></script>
	<![endif]-->

	<div class="hd">
		<div class="head">
			<div class="top" ng-controller="indexCtrl" ng-cloak>
				<a class="logo" alt="CLauncher logo" title="Clauncher" href="http://www.c-launcher.com">CLauncher
					<span>
						www.c-launcher.com
					</span>
				</a>
				<section class="sec-login" ng-if="!isLogined()" ng-style="{ display: 'block' }">
					<a href="http://www.c-launcher.com/jump/register.htm">Register</a>
					<span>|</span>
					<a href="http://www.c-launcher.com/jump/login.htm">Login</a>
				</section>
				<section class="sec-login" ng-if="isLogined()" ng-style="{ display: 'block' }">
					<!--
					Welcome: {{getUser().name}} ! &nbsp;
					<a href="http://themes.c-launcher.com"> Back</a> -->

					Welcome:
					<a href="javascript:void(0)" class="username" ng-click="user_menu_show=!!!user_menu_show" ng-blur="user_menu_show=false"> {{getUser().name}} </a>
					<ul class="menu" ng-show="user_menu_show" ng-cloak>
						<li><a href="http://www.c-launcher.com/jump/person_settings.htm"> Personal settings </a></li>
						<li><a href="http://designer.c-launcher.com/"> Design Theme </a></li>
						<li><a href="javascript:;" ng-click="logout()">Logout</a>
						</li>
					</ul>
				</section>
				<div class="nav-outter">
					<form id="queryForm" action="">
						<input type='hidden' id='category' name='category' value=''/>
						<input type='hidden' id='tag' name='tag' value=''/>
						<input type='hidden' id='sortTag' name='sortTag' value=''/>
					</form>
					<ul class="nav">
						<li><a href="http://www.c-launcher.com/" id="home"> Home </a>
						</li>
						<li><a href="http://www.c-launcher.com/theme/list.do" id="theme" typeId="0"> Themes </a>
						</li>
						<li><a href="http://www.c-launcher.com/wallpaper/list.do" id="wallpaper" typeId="1"> Wallpapers </a>
						</li>
						<!-- <li><a href="http://www.c-launcher.com/dynamicwallpaper/list.do" id="dynamicwallpaper" typeId="3"> Live Wallpaper </a>
						</li>
						<li><a href="http://www.c-launcher.com/ring/show.do" id="ring" typeId="2"> Ring </a>
						</li> -->
						<li> <a href="http://designer.c-launcher.com/" class="cyou-head-nav"> Design Themes </a>
						</li>
						<li><a href="http://bbs.c-launcher.com/"> BBS </a>
						</li>
						<li class="search">
							<form id="searchForm" action="http://www.c-launcher.com/theme/search.do" method="post">
								<div class="searchBox">
									<input id="keyword" name="keyword" value="" type="text" placeholder="Enter search term" maxlength="20"/>
									<button type="button" id="cyou-searchbtn">&nbsp;&nbsp;</button>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- <div class="bd" ng-controller="indexCtrl" ng-cloak>
			<img src="styles/img/logo.png" alt="cLauncher Logo" usemap="logoLinkMap">
			<map name="logoLinkMap">
				<area shape="rect" coords="0,0,90,81" href="http://themes.c-launcher.com">
				<area shape="rect" coords="90,0,441,81" href="/">
			</map>
			<section class="sec-login" ng-if="!isLogined()" ng-style="{ display: 'block' }">
				<a href="http://themes.c-launcher.com/jump/register.htm">Register</a>
				<span>|</span>
				<a href="http://themes.c-launcher.com/jump/login.htm">Login</a>
			</section>
			<section class="sec-login" ng-if="isLogined()" ng-style="{ display: 'block' }">
				Welcome: {{getUser().name}} ! &nbsp;
				<a href="http://themes.c-launcher.com"> Back</a>

				<div id="cyou-head-welcome">
					Welcome:
						<a href="javascript:void(0)" id="cyou-head-username" ng-click="user_menu_show=!!!user_menu_show" ng-blur="user_menu_show=false"> {{getUser().name}} </a>
					<ul id="cyou-head-menu" style="width: 115px;" ng-show="user_menu_show" ng-cloak>
						<li><a href="http://themes.c-launcher.com/jump/person_settings.htm"> Personal settings </a></li>
						<li><a href="http://designer.c-launcher.com/"> Design Theme </a></li>
						<li><a href="javascript:;" ng-click="logout()">Logout</a>
						</li>
					</ul>
				</div>
			</section>

			<section class="sec-controlButton">
				<a href="javascript:;" ng-click="createTheme()" class="icon-new">
					<i class="fa fa-plus-circle fa-3x"></i>
					New
				</a>
				<a ng-href="#/packForm" class="icon-pack" ng-show="hasUnpub()">
					 <i class="fa fa-upload fa-3x"></i>
					Pack
				</a>
			</section>

		</div> -->
	</div>

	<div class="container clearfix">
		<div ng-view></div>
	</div>


<!-- 	<div class="ft">
		<ul class="link-list">
			<div class="bd">
				<li>
					<a href="#">Link</a> |
				</li>
				<li>
					<a href="#">Link</a> |
				</li>
			</div>
		</ul>
		<div class="site-info">
			<div class="bd">
				<img src="styles/img/cylogo.png" alt="CYou Inc." />
				<p>北京畅游时代数码技术有限公司 版权所有&nbsp;</p>
				<p>Copyright ©2011 ChangYou.com Limited. All rights reserved.</p>
				<p>京ICP证：070525号《网络文化经营许可证》编号：京网文[2011]0260-093号京公网安备110107000007</p>
			</div>
		</div>
	</div>
 -->
	<script src="components/ng-file-upload/angular-file-upload-shim.min.js"></script>
	<script src="components/angular/angular.min.js"></script>

	<!-- build:js scripts/upload_components.js -->
	<script src="components/angular-route/angular-route.min.js"></script>
	<script src="components/angular-resource/angular-resource.js"></script>
	<script src="components/angular-cookies/angular-cookies.js"></script>
	<script src="components/angular-local-storage/angular-local-storage.min.js"></script>
	<script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="components/ng-file-upload/angular-file-upload.min.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/upload_scripts.js -->
	<script src="scripts/uploadPage/main.js"></script>
	<script src="scripts/uploadPage/uploadCtrl.js"></script>
	<script src="scripts/uploadPage/dWallpaperFormCtrl.js"></script>
	<script src="scripts/uploadPage/ringFormCtrl.js"></script>
	<!-- endbuild -->

</body>
</html>
