
<div ng-controller="packCtrl">

	<header class="pg-title">
		<h1>Upload Package</h1>
	</header>

	<div class="preview-thumbnail">
		<a href="javascript:;" ng-click="prev()" class="thumbnail-handler left">
			<i class="fa fa-chevron-left"></i>
		</a>
		<div class="thumbnail-list clearfix" ng-animate="'animate'">
			<div class="thumbnail-pic" ng-repeat="thumb in thumblist" ng-show="check($index)">
				<img ng-src="{{PREVIEW_URL}}/{{thumb}}"/>
			</div>
			<div class="previewing" ng-show="previewing" ng-init="previewing=true">
				<i class="fa fa-spinner fa-spin fa-3x"></i>
			</div>
		</div>
		<a href="javascript:;" ng-click="next()" class="thumbnail-handler right">
			<i class="fa fa-chevron-right"></i>
		</a>
	</div>

	<div class="pack-form" name="packForm" ng-submit="savePack()">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">Theme Name</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="theme.title" placeholder="" required maxlength="30">
				</div>
				<p class="help-block col-sm-3">Required</p>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">Designer</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="theme.author" placeholder="" required maxlength="30">
				</div>
				<p class="help-block col-sm-3">Required</p>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">Introduction</label>
				<div class="col-sm-6">
					<textarea name="description" class="form-control" ng-model="theme.description"required maxlength="1000"></textarea>
				</div>
				<p class="help-block col-sm-3">Required</p>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">Thumbnail</label>
				<div class="col-sm-6 mod-uploader">
					<div class="img-upload-handler">
						<label for="upImage" class="file-upload btn btn-primary">
							<span><strong>Change</strong></span>
							<input name="upImage" type="file" accept="image/jpeg,image/jpg,image/png" image="upThumbnail" ng-model="xxx" ng-change="uploadThumbnail()">
						</label>
					</div>
					<div class="img-upload-previewer">
						<img ng-src="{{upThumbnail.url}}" class="thumbnail-previewImg" type="{{upThumbnail.file.type}}" />
						<div class="previewing" ng-show="thumbloading" ng-init="thumbloading=true">
							<i class="fa fa-spinner fa-spin fa-3x"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group pull-right">
				<a href="/#/wallpaper" class="btn">Back</a>
				<button class="btn btn-primary" type="submit" ng-disabled="packForm.$invalid">Save&amp;Package</button>
				<i class="fa fa-spinner fa-spin" ng-show="packing" ng-init="packing=false"></i>
				<a href="/resources/themes{{theme.packageFile.0.file}}" target="_blank" ng-show="theme.packageFile.0">
					Download Theme
				</a>
			</div>
		</form>
	</div>
<!--
	<div class="pack-form" name="packForm" ng-submit="savePack()">
		<form>
			<div class="form-group">
				<label for="themeName">Theme Name</label>
				<div class="form-field">
					<input type="text" ng-model="theme.title" class="form-control" name="themeName" placeholder="Awesome Theme" required maxlength="30">
					<span class="help-text">Required</span>
				</div>
			</div>

			<div class="form-group">
				<label for="author">Designer</label>
				<div class="form-field">
					<input type="text" ng-model="theme.author" class="form-control" name="author" placeholder="Your name" required maxlength="30">
					<span class="help-text">Required</span>
				</div>
			</div>

			<div class="form-group">
				<label for="description">Introduction</label>
				<div class="form-field">
					<textarea name="description" ng-model="theme.description" cols="30" rows="10" required maxlength="1000"></textarea>
				</div>
			</div>

			<div class="form-actions">
				<a href="/#/wallpaper" class="btn">Back</a>
				<button class="btn btn-primary" type="submit" ng-disabled="packForm.$invalid">Save&amp;Package</button>
				<i class="fa fa-spinner fa-spin" ng-show="packing" ng-init="packing=false"></i>
				<a href="/resources/themes{{theme.packageFile.0.file}}" target="_blank" ng-show="theme.packageFile.0">
					Download Theme
				</a>
			</div>

		</form>
	</div>
	-->
</div>