

<div ng-controller="AlertCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div ng-include="'/views/partials/menuList.html'" ng-controller="menuListCtrl"></div>
<div ng-include="'/views/partials/previewer.html'" ng-controller="previewCtrl"></div>


<div ng-include="'/views/partials/dashboard.html'"
	 ng-controller="dashCtrl" ng-init="select('app_icon', 'Browser'); all_list='appIcons';"></div>

<div ng-include="'/views/partials/resourceLibrary.html'"
	 ng-controller="resLibraryCtrl"></div>
