
<div ng-include="'/views/partials/menuList.html'" ng-controller="menuListCtrl"></div>
<div ng-include="'/views/partials/previewer.html'" ng-controller="previewCtrl"></div>

<div class="mod-lathe" ng-controller="dashCtrl"
	ng-init="select('wallpaper', 'wallpaper')">
	<header> Wallpaper </header>
	<section>
		<upload-img
			theme-id="{{themeId}}"
			res-type="{{selected.resType}}"
			res-name="{{selected.resName}}"
			default-data="themeData"
			src-prefix="{{srcPrefix}}"

			scale="getScale"
			res-capital="{{selectedModel.capital}}"
			rec-height="1280"
			rec-width="1440"
			rec-type="jpg"

			callback="updatePreview" ng-if="selectedModel"></upload-img>
		<upload-img
			theme-id="{{themeId}}"
			res-type="{{selectedModel.link[0]}}"
			res-name="{{selectedModel.link[1]}}"
			default-data="themeData"
			src-prefix="{{srcPrefix}}"

			scale="getScale"
			res-capital="{{selectedLinkedModel.capital}}"
			rec-height="960"
			rec-width="800"
			rec-type="jpg"

			callback="updatePreview" ng-if="selectedLinkedModel"></upload-img>
	</section>

	<header> Other </header>
	<section class="all-list">
		<figure ng-repeat="item in groupList['dockbar']" ng-init="it=wrapData(item)" ng-class="{ active:(item.resType == selected.resType && item.resName == selected.resName )}">
			<img src="{{srcPrefix}}/{{it.src}}" ng-click="select(item.resType, item.resName)" ng-cloak>
			<figcaption>{{ it.capital }}</figcaption>
		</figure>

	</section>

</div>

<div class="mod-resLibrary" ng-controller="resLibraryCtrl">
	<header>
		Resources Library
	</header>

	<div class="mod-resList" jrg-carousel opts="carouselOpts" nav-num-items=5 center-offset='1'>
		<a ng-repeat="img in resList" drag ng-model="img" ng-cloak>
			<img ng-src="/resources/upload{{img}}" title="Drag and drop to right"/>
		</a>
	</div>
</div>