

<div ng-controller="AlertCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div ng-include="'/views/partials/menuList.html'" ng-controller="menuListCtrl"></div>
<div ng-include="'/views/partials/previewer.html'" ng-controller="previewCtrl"></div>

<div class="mod-lathe" ng-controller="dashCtrl">
	<header> Wallpaper </header>
	<section>
		<upload-img
			theme-id="{{themeId}}"
			res-type="wallpaper"
			res-name="wallpaper"
			default-data="themeData"
			src-prefix="{{srcPrefix}}"

			scale="getScale"
			res-captial="Wallpaper"
			rec-height="1280"
			rec-width="1440"
			rec-type="jpg"

			callback="updatePreview"></upload-img>

		<upload-img
			theme-id="{{themeId}}"
			res-type="wallpaper"
			res-name="wallpaper-hd"
			default-data="themeData"
			src-prefix="{{srcPrefix}}"

			scale="getScale"
			res-captial="Wallpaper"
			rec-height="960"
			rec-width="800"
			rec-type="jpg"

			callback="updatePreview"></upload-img>
	</section>

	<header> Other </header>
	<section class="all-list">
		<figure ng-repeat="item in groupList['wallpaper']" ng-init="it=wrapData(item)">
			<img src="{{srcPrefix}}/{{it.src}}" ng-click="select(item)" ng-cloak>
			<figcaption>{{ it.capital }}</figcaption>
		</figure>

	</section>

</div>

<div class="mod-resLibrary" ng-controller="resLibraryCtrl">
	<header>
		Resources Library
	</header>

	<div class="mod-resList" jrg-carousel opts="carouselOpts" nav-num-items=5 center-offset='1'>
		<a ng-repeat="img in resList" drag ng-model="img" ng-cloak>
			<img ng-src="/resources/upload{{img}}" title="Drag and drop to right"/>
		</a>
	</div>
</div>