@font-face {
  font-family: 'webicons';
  src: url('../font/webicons.eot?19542387');
  src: url('../font/webicons.eot?19542387#iefix') format('embedded-opentype'),
       url('../font/webicons.woff?19542387') format('woff'),
       url('../font/webicons.ttf?19542387') format('truetype'),
       url('../font/webicons.svg?19542387#webicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'webicons';
    src: url('../font/webicons.svg?19542387#webicons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "webicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-crop:before { content: '\e819'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-arrow-down:before { content: '\e81b'; } /* '' */
.icon-arrow-left:before { content: '\e81c'; } /* '' */
.icon-arrow-right:before { content: '\e81d'; } /* '' */
.icon-copy:before { content: '\e81e'; } /* '' */
.icon-copy2:before { content: '\e81f'; } /* '' */
.icon-disk:before { content: '\e820'; } /* '' */
.icon-paste:before { content: '\e821'; } /* '' */
.icon-redo:before { content: '\e822'; } /* '' */
.icon-remove:before { content: '\e818'; } /* '' */
.icon-spin4:before { content: '\e810'; } /* '' */
.icon-reply:before { content: '\e804'; } /* '' */
.icon-edit-1:before { content: '\e812'; } /* '' */
.icon-left-circled-1:before { content: '\e800'; } /* '' */
.icon-right-circled-1:before { content: '\e805'; } /* '' */
.icon-floppy:before { content: '\e817'; } /* '' */
.icon-smile:before { content: '\e813'; } /* '' */
.icon-undo:before { content: '\e81a'; } /* '' */
.icon-meh:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-tools:before { content: '\e806'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e823'; } /* '' */
.icon-right-open-big:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-lock-filled:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e80f'; } /* '' */
.icon-folder:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-doc-new:before { content: '\e809'; } /* '' */
.icon-frown:before { content: '\e814'; } /* '' */