
.icon-crop:before { content: '\e819'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-arrow-down:before { content: '\e81b'; } /* '' */
.icon-arrow-left:before { content: '\e81c'; } /* '' */
.icon-arrow-right:before { content: '\e81d'; } /* '' */
.icon-copy:before { content: '\e81e'; } /* '' */
.icon-copy2:before { content: '\e81f'; } /* '' */
.icon-disk:before { content: '\e820'; } /* '' */
.icon-paste:before { content: '\e821'; } /* '' */
.icon-redo:before { content: '\e822'; } /* '' */
.icon-remove:before { content: '\e818'; } /* '' */
.icon-spin4:before { content: '\e810'; } /* '' */
.icon-reply:before { content: '\e804'; } /* '' */
.icon-edit-1:before { content: '\e812'; } /* '' */
.icon-left-circled-1:before { content: '\e800'; } /* '' */
.icon-right-circled-1:before { content: '\e805'; } /* '' */
.icon-floppy:before { content: '\e817'; } /* '' */
.icon-undo:before { content: '\e81a'; } /* '' */
.icon-frown:before { content: '\e814'; } /* '' */
.icon-meh:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-tools:before { content: '\e806'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-lock-filled:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e80f'; } /* '' */
.icon-folder:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-doc-new:before { content: '\e809'; } /* '' */
.icon-smile:before { content: '\e813'; } /* '' */