
.icon-reply:before { content: '\e804'; } /* '' */
.icon-left-circled-1:before { content: '\e800'; } /* '' */
.icon-right-circled-1:before { content: '\e805'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */