
<div class="mod-editor panel panel-default">
    <div class="panel-heading clearfix">
    	<div class="pull-left">
    		<a ng-href="{{backUrl}}">
    			<i class="icon-reply"></i> Back
    		</a>
    	</div>
        <div class="pull-right">
        	<a ng-href="{{lastItemUrl}}" ng-if="lastItemUrl"><i class="icon-left-circled-1"></i> Last</a>
        	<a ng-href="{{nextItemUrl}}" ng-if="nextItemUrl">Next <i class="icon-right-circled-1"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row mod-editPanel">
            <div class="col-md-6">
                <div class="preview-area" ng-click="openFile()">
                    <img ng-src="{{UPLOAD_PATH}}{{resInfo.data.src}}?{{etag}}" type="{{image.file.type}}" class="preview_area">

                    <div class="loading" ng-if="isLoading">
                        <i class="icon-spin4 animate-spin"></i>
                    </div>
                </div>
                <label for="upImage" class="file-upload btn btn-clGreen">
                    <b>UPLOAD</b>
                    <input type="file" name="upImage"
                        accept="{{resAccepts}}"
                        image="image"
                        ng-model="x"
                        ng-disabled="isLoading"
                        ng-change="uploadFile(image.file, x)" />
                </label>
            </div>
            <div class="col-md-6">
                <h2>{{resInfo.data.capital}}</h2>
                <p>Size: {{standard.width}} x {{standard.height}}px </p>
                <p>Format: {{standard.type}}</p>
            </div>
        </div>

        <div class="row mod-material">
            <header>
                <h2>Material</h2>
                <div class="pull-right">
                    <span>Expansion</span>
                    <i class="icon-down-open-big"></i>
                </div>
            </header>

            <section class="text-center">

                <br>
                <br>
                Comming soon...
                <br>
                <br>
            </section>
        </div>
    </div>
</div>

