
<div class="ac-opIcons">
	<ul class="ac-opIcons-list">
		<li>
			<i class="icon-checkmark-circle"></i>
			<img src="{{UPLOAD_PATH}}/default_theme/app_icon/com_android_browser_com_android_browser_browseractivity.png">
			<span>title</span>
			<span>192x192px</span>
		</li>
		<li>
			<i class="icon-checkmark-circle"></i>
			<img src="{{UPLOAD_PATH}}/default_theme/app_icon/com_android_browser_com_android_browser_browseractivity.png">
			<span>title</span>
			<span>192x192px</span>
		</li>
		<li>
			<i class="icon-checkmark-circle"></i>
			<img src="{{UPLOAD_PATH}}/default_theme/app_icon/com_android_browser_com_android_browser_browseractivity.png">
			<span>title</span>
			<span>192x192px</span>
		</li>
		<li>
			<i class="icon-checkmark-circle"></i>
			<img src="{{UPLOAD_PATH}}/default_theme/app_icon/com_android_browser_com_android_browser_browseractivity.png">
			<span>title</span>
			<span>192x192px</span>
		</li>
		<li>
			<i class="icon-checkmark-circle"></i>
			<img src="{{UPLOAD_PATH}}/default_theme/app_icon/com_android_browser_com_android_browser_browseractivity.png">
			<span>title</span>
			<span>192x192px</span>
		</li>
		<li>
			<i class="icon-checkmark-circle"></i>
			<img src="{{UPLOAD_PATH}}/default_theme/app_icon/com_android_browser_com_android_browser_browseractivity.png">
			<span>title</span>
			<span>192x192px</span>
		</li>
		<li>
			<i class="icon-checkmark-circle"></i>
			<img src="{{UPLOAD_PATH}}/default_theme/app_icon/com_android_browser_com_android_browser_browseractivity.png">
			<span>title</span>
			<span>192x192px</span>
		</li>
	</ul>
</div>