
<div class="ac-mask panel panel-default well">

	<ul class="ac-opIcons-list">
		<li ng-click="editIcon(r.resKey, r.resName)" ng-repeat="r in list" imagedrop res-type="{{r.resKey}}" res-name="{{r.resName}}"
			on-image-drop="uploadImage(event, files, resModel)">
			<i class="icon-ok-circled" ng-if="isDirty(r.data)"></i>
			<img ng-src="{{UPLOAD_PATH}}{{r.data.src}}">
			<span>{{r.data.capital}}</span>
			<span>{{r.meta.width}}x{{r.meta.height}}px</span>
		</li>
	</ul>

	<div class="row mod-material">
	    <header>
	        <h2>Example</h2>
	    </header>

	    <section class="text-center">
			<img src="/styles/img/mask_sample.png">
	    </section>
	</div>
</div>
