
<div class="ac-mask panel panel-default well">

	<ul class="ac-opIcons-list">
		<li ng-click="editIcon(r.resKey, r.resName)"
			ng-repeat="r in list"
			imagedrop res-type="{{r.resKey}}"res-name="{{r.resName}}"
			on-image-drop="uploadImage(event, files, resModel)"
			on-drag-enter-leave="onDragging(event, element)"
			>
			<i class="icon-ok-circled" ng-if="isDirty(r.data)"></i>
			<img ng-src="{{UPLOAD_PATH}}{{r.data.src}}" ng-if="r.resName != 'customize_cover'">
			<img ng-src="{{UPLOAD_PATH}}{{r.data.src}}" ng-if="r.resName == 'customize_cover'"  style="background:url('data:image/jpg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAAQABADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9U6+d6K+iKAP/2Q==')">
			<span>{{r.data.capital}}</span>
			<span>{{r.meta.width}}x{{r.meta.height}}px</span>
		</li>

	</ul>

	<div class="row mod-material">
	    <header>
	        <h2>Example</h2>
	    </header>

	    <section class="text-center">
			<img src="/styles/img/mask_sample.png">
	    </section>
	</div>
</div>
