
<div class="ac-mask panel panel-default well">

	<ul class="ac-opIcons-list">
		<li ng-click="editIcon('customize', resKey)"
			ng-repeat="(resKey, icon) in list"
			ng-init="meta=getMeta(resKey)">

			<i class="icon-ok-circled" ng-if="isDirty(icon)"></i>
			<img ng-src="{{UPLOAD_PATH}}{{icon.src}}">
			<span>{{icon.capital}}</span>
			<span>{{meta.width}}x{{meta.height}}px</span>
		</li>
	</ul>

	<div class="row mod-material">
	    <header>
	        <h2>Example</h2>
	    </header>

	    <section class="text-center">
			<img src="/styles/img/mask_sample.png">
	    </section>
	</div>
</div>
