
<div class="dashboard" ng-controller="dashboardCtrl">

	<div class="ac-toolbar" ng-switch="themeStatus()">
		<button class="btn btn-primary" ng-click="initNewTheme(this)" ng-switch-when="uncreated">Create new theme</button>
		<button class="btn disable" ng-switch-when="creating">Creating...</button>
		<button class="btn btn-error" ng-click="initNewTheme(this)" ng-switch-when="created">Reset to default</button>

		<button class="btn btn-warning" ng-click="packageTheme(this)" ng-switch-when="created">Package Theme</button>
	</div>

	<tabset>
		<tab heading="Wallpaper">
			<div class="wallpaper-list" ng-controller="wallpaperCtrl">
				<span class="btn btn-default btn-file">Browser
					<input type="file" accept="image/*" image="image" />
				</span>
				<img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}"/>
				<button type="submit" class="btn" ng-click="upload(image.file)">Upload</button>

				<pagination
					total-items="bigTotalItems"
					page="bigCurrentPage"
					max-size="maxSize"
					class="pagination-small"
					boundary-links="true"
					rotate="false"
					num-pages="numPages"></pagination>
			</div>
		</tab>
		<tab heading="AppIcons">Icons list and icon uploader</tab>
		<tab heading="Save">saving and package...</tab>
	</tabset>

	<div class="ac-statusbar">
	</div>
</div>
