
<div class="dashboard" ng-controller="dashboardCtrl">

	<button class="btn btn-primary" ng-click="initNewTheme()">New Theme</button>

	<tabset>
		<tab heading="Wallpaper">
			<div class="wallpaper-list" ng-controller="wallpaperCtrl">
				<span class="btn btn-default btn-file">Browser
					<input type="file" accept="image/*" image="image" />
				</span>
				<img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}"/>
				<button type="submit" class="btn" ng-click="upload(image.file)">Upload</button>

				<pagination
					total-items="bigTotalItems"
					page="bigCurrentPage"
					max-size="maxSize"
					class="pagination-small"
					boundary-links="true"
					rotate="false"
					num-pages="numPages"></pagination>
			</div>
		</tab>
		<tab heading="AppIcons">Icons list and icon uploader</tab>
		<tab heading="Save">saving and package...</tab>
	</tabset>
</div>
