

<div ng-controller="AlertCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div ng-include="'/views/partials/menuList.html'"></div>
<div ng-include="'/views/partials/previewer.html'"></div>
<div class="mod-lathe" ng-controller="latheCtrl">
	<header>
		Dockbar
	</header>

	<upload-img
		theme-id="{{themeId}}"
		res-type="app_icon"
		res-name="com_android_contacts_com_android_contacts_activities_dialtactsactivity"
		res-captial="Phone"
		default-data="themeData"
		src-prefix="{{srcPrefix}}"
		scale="getScale"
		rec-width="192"
		rec-height="192"
		rec-type="png"
		callback="updatePreview"></upload-img>

	<upload-img
		theme-id="{{themeId}}"
		res-type="app_icon"
		res-name="com_android_contacts_com_android_contacts_activities_peopleactivity"
		res-captial="Contacts"
		default-data="themeData"
		src-prefix="{{srcPrefix}}"
		scale="getScale"
		rec-width="192"
		rec-height="192"
		rec-type="png"
		callback="updatePreview"></upload-img>


	<upload-img
		theme-id="{{themeId}}"
		res-type="dock_icon"
		res-name="ic_allapps"
		res-captial="Apps"
		default-data="themeData"
		src-prefix="{{srcPrefix}}"
		scale="getScale"
		rec-width="192"
		rec-height="192"
		rec-type="png"
		callback="updatePreview"></upload-img>

	<upload-img
		theme-id="{{themeId}}"
		res-type="app_icon"
		res-name="com_android_mms_com_android_mms_ui_conversationlist"
		res-captial="SMS"
		default-data="themeData"
		src-prefix="{{srcPrefix}}"
		scale="getScale"
		rec-width="192"
		rec-height="192"
		rec-type="png"
		callback="updatePreview"></upload-img>

	<upload-img
		theme-id="{{themeId}}"
		res-type="app_icon"
		res-name="com_android_browser_com_android_browser_browseractivity"
		res-captial="Browser"
		default-data="themeData"
		src-prefix="{{srcPrefix}}"
		scale="getScale"
		rec-width="192"
		rec-height="192"
		rec-type="png"
		callback="updatePreview"></upload-img>

</div>
