<div class="phone">
	<div class="scence main-screen">
		<div class="app-list">
		</div>
	</div>
	<div class="wallpaper">
	</div>
</div>

<div class="dashboard" ng-controller="tabset">
	<tabset>
		<tab heading="背景">
			<div class="wallpaper-list" ng-controller="wallpaperPage">
				<pagination
				total-items="bigTotalItems"
				page="bigCurrentPage"
				max-size="maxSize"
				class="pagination-small"
				boundary-links="true"
				rotate="false"
				num-pages="numPages"></pagination>
			</div>
		</tab>
		<tab heading="图标">图标</tab>
		<tab heading="保存">saving...</tab>
	</tabset>
</div>
