<!-- <div class="hero-unit">
  <h1>Anth Craft</h1>
  <p>The list:</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <h3>Enjoy creating!</h3>

</div>
 -->

<div class="phone">
	<div class="scence main-screen">
		<div class="app-list">
		</div>
	</div>
	<div class="wallpaper"></div>
</div>

<div class="dashboard">
	<tabset>
		<tab heading="Static title">Static content</tab>
		<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
			{{tab.content}}
		</tab>
		<tab select="alertMe()">
			<tab-heading>
			<i class="icon-bell"></i> Select me for alert!
		</tab-heading>
		I've got an HTML heading, and a select callback. Pretty cool!
	</tab>
</tabset>
</div>