
<div ng-controller="packCtrl">

	<header class="pg-title">
		<h1>Upload Package</h1>
	</header>

	<div class="preview-thumbnail">
		<a href="javascript:;" ng-click="prev()" class="thumbnail-handler left">
			<i class="fa fa-chevron-left"></i>
		</a>
		<div class="thumbnail-list clearfix" ng-animate="'animate'">
			<div class="thumbnail-pic" ng-repeat="thumb in thumblist" ng-show="check($index)">
				<img ng-src="/resources/preview/{{thumb}}"/>
			</div>
			<div class="previewing" ng-show="previewing" ng-init="previewing=true">
				<i class="fa fa-spinner fa-spin fa-3x"></i>
			</div>
		</div>
		<a href="javascript:;" ng-click="next()" class="thumbnail-handler right">
			<i class="fa fa-chevron-right"></i>
		</a>
	</div>


	<div class="pack-form" name="packForm" ng-submit="savePack()">
		<form>
			<div class="form-group">
				<label for="themeName">Theme Name</label>
				<div class="form-field">
					<input type="text" ng-model="theme.title" class="form-control" name="themeName" placeholder="Awesome Theme" required>
					<span class="help-text">Required</span>
				</div>
			</div>

			<div class="form-group">
				<label for="author">Designer</label>
				<div class="form-field">
					<input type="text" ng-model="theme.author" class="form-control" name="author" placeholder="Your name" required>
					<span class="help-text">Required</span>
				</div>
			</div>

			<div class="form-group">
				<label for="description">Introduction</label>
				<div class="form-field">
					<textarea name="description" ng-model="theme.description" cols="30" rows="10" required></textarea>
				</div>
			</div>

			<div class="form-actions">
				<button class="btn btn-primary" type="submit">Save&amp;Package</button>
				<i class="fa fa-spinner fa-spin" ng-show="packing" ng-init="packing=false"></i>
				<a href="/resources/themes{{theme.packageFile.0.file}}" target="_blank" ng-show="theme.packageFile.0">
					Download Theme
				</a>
			</div>

		</form>
	</div>
</div>