

<div ng-controller="AlertCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div ng-include="'/views/partials/menuList.html'"></div>
<div ng-include="'/views/partials/previewer.html'"></div>

<div class="mod-lathe" ng-controller="latheCtrl">
	<header>
		Wallpaper
	</header>

	<upload-img
		theme-id="{{themeId}}"
		res-type="app_icon"
		res-name="{{m.id}}"
		res-captial="{{m.captial}}"
		default-data="themeData"
		src-prefix="{{srcPrefix}}"
		scale="getScale"
		rec-width="192"
		rec-height="192"
		rec-type="png"
		callback="updatePreview" ng-repeat="m in appIconList"></upload-img>

	<upload-img
		theme-id="{{themeId}}"
		res-type="customize_mat"
		res-name="default_customize_mat"
		res-captial="icon bg"
		default-data="themeData"
		src-prefix="{{srcPrefix}}"
		scale="getScale"
		rec-width="192"
		rec-height="192"
		rec-type="png"
		callback="updatePreview"></upload-img>

</div>
