<div class="ac-toolbar" ng-switch="themeStatus()">
	<div ng-switch-when="uncreated">
		<alert type="warn">Please create new theme first!</alert>
	</div>

	<button class="btn btn-primary" ng-click="initNewTheme(this)" ng-switch-when="uncreated">Create new theme</button>
	<button class="btn disable" ng-switch-when="creating">Creating...</button>
	<button class="btn btn-error" ng-click="initNewTheme(this)" ng-switch-when="created">Reset to default</button>

	<button class="btn btn-warning disabled" ng-switch-when="uncreated">Package Theme</button>
	<button class="btn btn-warning" ng-click="packageTheme()" ng-switch-when="created">Package Theme</button>

</div>
