<div class="modal-header">
	Load Theme
	<span class="icon-cancel" ng-click="$dismiss()"></span>
</div>
<div class="modal-body clearfix">

	<table class="table table-striped table-hover table-condensed col-sm-12">
		<tr ng-repeat="theme in themeList">
			<td>{{theme.title}}</td>
			<td>{{theme.updateAt | date:'yyyy-MM-dd HH:mm'}}</td>
			<td width="20%">
				<button class="btn btn-clDarkGreen" ng-click="load(theme)">Load</button>
			</td>
			<td width="20%"><button class="btn btn-default" ng-click="remove(theme)">Delete</button></td>
		</tr>
	</table>
</div>
