
<div ng-if="success">


	<div class="modal-header">
		Succeeded
		<span class="icon-cancel" ng-click="cancel()"></span>
	</div>
	<div class="modal-body text-center">

		<div class="row">
				<i class="icon-ok" style="font-size: 6em; color: #0193A5;"></i>
				<br>
				<span style="margin-top:-20px; font-weigth: bold; display: block;">Succeeded!</span>
		</div>
		<!-- The newly submitted theme ranked 123456. Share your theme to facebook; twitter, etc; more users, higher ranking -->
		<div class="modal-buttons">
			<a href="{{THEME_PATH}}{{theme.packageFile.4.file}}" ng-if="theme.packageFile.4" class="btn btn-clDarkGreen" target="_blank" download="{{theme.title}}.apk">
			Download
			</a>
			<a href="http://themes.c-launcher.com/jump/person_settings.do" class="btn btn-default" target="_blank">View</a>
		</div>
	</div>
	<div class="modal-footer well">
		<p>
			The newly submitted theme ranked <b style="color: red">{{theme.themeId}}</b>. Share your theme to facebook; twitter, etc; more users, higher ranking

		</p>
		<div class="share">
			<a title="Share on Facebook" href="http://www.facebook.com/share.php?u=http://www.c-launcher.com/theme/detail.do?themeId=1608&t=dadasdsadsa" target="_blank" class="icon fb"></a>
			<a title="Share on Twitter" href="http://twitter.com/share?original_referer=designer.c-launcher.com&url=http://www.c-launcher.com/theme/detail.do?themeId=1608&text=Recommend%20this%20theme%20change%20your%20phone%20more%20beautiful%20http%3A//www.c-launcher.com/theme/detail.do%3FthemeId%3D1268%20@CLauncher" target="_blank" class="icon tw"></a>
			<div id="___plusone_1" style=" display: inline-block;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="width: 50px; height: 60px;" tabindex="0" vspace="0" width="100%" id="" name="" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;size=tall&amp;hl=zh-TW&amp;origin=http%3A%2F%2Fhappy-yblog.blogspot.com&amp;url=http%3A%2F%2Fhappy-yblog.blogspot.com%2F2010%2F08%2Ftwittertweet-share-button.html&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.zh_CN.uuxxUe8oFok.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Fz%3Dzcms%2Frs%3DAItRSTMRWtn43QD-o6vnVE7VjvipZsEocw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I1_1395652180505&amp;parent=http%3A%2F%2Fhappy-yblog.blogspot.com&amp;pfname=&amp;rpctoken=28493313" data-gapiattached="true" title="+1"></iframe></div>
		</div>
	</div>
</div>

<div ng-if="!success">

	<div class="modal-header">
		Failure
		<span class="icon-cancel pull-right" ng-click="cancel()"></span>
	</div>
	<div class="modal-body text-center">

		<div class="row">
			<i class="icon-cancel" style="font-size: 6em; color: #C92201;"></i>
			<br>
			<span style="margin-top:-10px; font-weigth: bold; display: block;">Oops!Failed to submit!</span>
		</div>
		<div class="modal-buttons">
			<button class="btn btn-clDarkGreen" ng-click="ok()">Close</button>
		</div>
	</div>
	<div class="modal-footer well add-clauncherIcon">
		<p>
			<b>Now you can:</b>
		</p>
		<ol>
			<li>Try to submit again</li>
			<li><a href="" ng-click="openFeedbackBox()">Feed back</a> to us</li>
			<li>Visit <a href="http://bbs.c-launcher.com" target="_blank">BBS</a></li>
			<li>Wander in <a href="http://www.c-launcher.com" target="_blank">our site</a></li>
		</ol>
		<!-- Now you can: 1. Try to submit again 2. Feed back to us 3. Visit BBS 4.Wander in our site -->
	</div>

</div>