<div class="modal-header">
	Preview
	<span class="icon-cancel" ng-click="$close()"></span>
</div>
<div class="modal-body clearfix">
	<div class="sence" preview-canvas theme="theme" sence="home" multiple="2"></div>
	<div class="sence" preview-canvas theme="theme" sence="apps" multiple="2"></div>
	<div class="sence" preview-canvas theme="theme" sence="widget" multiple="2"></div>
</div>
<div class="modal-footer preview-footer">
	<button class="btn btn-clDarkGreen btn-l" ng-click="submit()">Submit Theme</button>
</div>
